<%= form_for @person, :html => { :multipart => true, :class => 'form-horizontal' } do |f| %>
  <%= render "shared/error_messages", :target => @person %>
  <div class="row-fluid well">
    <div class="span3 control-group">
      <%= f.label t('.avatar'), :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar %>
      </div>
    </div>
    <div class="span9 row-fluid">
      <div class="row-fluid">
        <div class="span4 control-group">
          <%= f.label t('.first_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :first_name, :class => 'text_field' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4 control-group">
          <%= f.label t('.last_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :last_name, :class => 'text_field' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4 control-group">
          <%= f.label t('.nick_name'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :nick_name, :class => 'text_field' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 control-group">
          <%= f.label t('.comment'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :comment, :class => 'text_area' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 control-group">
          <%= f.label t('.good'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :good, :class => 'text_area' %>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12 control-group">
          <%= f.label t('.bad'), :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :bad, :class => 'text_area' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit t('save'), :class => 'btn btn-primary' %>
    <%= link_to t('cancel', :default => t("helpers.links.cancel")),
                people_path, :class => 'btn' %>
  </div>
<% end %>
